<div class="topbar" id="top_bar">
  <div class="ui container">
    <div class="topbar-wrapper">
      <div class="item">
          <a href="~/fale-conosco" title="Fale Conosco"><i class="call square icon"></i><span class="text">Fale Conosco</span></a>
      </div>
      <div class="topbar-message">
        Entrega restrita a Belo Horizonte e região metropolitana. Em breve disponibilizaremos a entrega  para todo o Brasil.
      </div>
      <div class="account-acess-wrapper">
        <a href="~/Customer/AccessKey" title="Fale Conosco">Meu Cadastro</a>
        <a id="rastreio_top_bar" href="https://fretaco.com.br/portal/solucoesusiminas" target="_blank" title="Rastreio">Rastrear Pedido</a>
        <a href="~/Customer/AccessKey" title="Fale Conosco">Meus Pedidos</a>
      </div>
    </div>
  </div>
</div>
