<div class="topbar" id="top_bar">
  <div class="ui container">
    <div class="topbar-wrapper">
      <div class="item">
          <a href="~/fale-conosco" title="Fale Conosco"><i class="call square icon"></i><span class="text">Fale Conosco</span></a>
      </div>
      <div class="topbar-message">
        Entrega restrita para: Belo Horizonte e região metropolitana / Estado de São Paulo. Para outras regiões, faça uma cotação <a href="https://www.usiminas.com/faca-uma-cotacao/" target="_blank" style="text-decoration:underline;">aqui.</a>
      </div>
      <div class="account-acess-wrapper">
        <a href="https://sistema.sliic.com.br:9110/sliic_central/pub/rastreamento?appCod=SSU01" title="Rastrear Peido">RASTREAR PEDIDO</a>
      </div>
    </div>
  </div>
</div>
